<div>
    <h1>These are the latest movies</h1>

    <input type=text list=value>
    <datalist>
        <option>content</option>
        <option>content</option>
        <option>content</option>
        <option>content</option>
        <option>content</option>
    </datalist>
</div>